<html>
    <head>
        <title>About This Program</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>Shade Controller was created by Joseph Adams. <br /><br />
            For more information or to contact the author, please visit <a href="http://www.techministry.blog">www.techministry.blog</a>.
            <br /><br />
            This program uses DCTTECH USB Relays which can be purchased online. They come in a variety of models. A 2-relay model is needed to operate both the up and down functionality.<br /><br />
            The program operates on TCP Port <b>4400</b>.<br /><br />
            To activate Relay 1 (Shades Up):
            <pre>
                http://ipaddress:4400/shades_up
            </pre>
            To activate Relay 2 (Shades Down):
            <pre>
                http://ipaddress:4400/shades_down
            </pre>
        </div>
    </body>
</html>
